*{
    margin:0;
    padding: 0;
}
.contenedor{
    margin: 20px;
    display: flex;
    gap:10px;
    padding: 5px;
    background-color: darkgray;
    border-radius: 5px;
    width: fit-content;
}
header{
    width: 100vw;
    background-color: darkorchid;
    display: flex;
    align-items: center;
    border-bottom: 7px solid rgba(108, 233, 255, 0.933);
}
.headerLogoImg{
    object-fit: contain;
    height: 100px;
}
.headerContenedorLink{
    height: 100%;
    display: flex;
    margin: 0 auto;
}
.headerLink{
    cursor: pointer;
    padding: 14px 24px;
    transition:0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-right: solid 1px white;
    font-weight: 600;
    display: flex;
    align-items: center;
}
/* .headerLink-final{
    border: 0;
} */
.headerLink:hover{
    background-color: violet;
    text-decoration: underline ;
    color: yellow;
    box-shadow: inset 0 0 10px 0px #a26666;
}
.headerContenedorSpan{
    padding: 30px;
    color: white;
}

.NavBarSpan{
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}
.NavBarSpan:hover{
    color: yellow;
    text-shadow: 0 0 10px black;
}

/*TARJETA ITEM*/
.contenedorItems{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}
.contenedorItem{
    box-sizing: content-box;
    width: 400px;
    margin: 10px;
    background-color: #fffaca;
    font-family: system-ui;
    box-shadow: 0 0 5px 5px #c3b5b5;
}
.contendorImgItem{
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    background: white;
}
.ItemImg{
    max-width: 100%;
    box-sizing: border-box;
}
.Item{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    background-color: cornflowerblue;
}
.contenedorNumero{
    box-sizing: border-box;
    margin: 20px 10px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 0px 2px #91b2ef;
}
.contendorSpan{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: fit-content;
    padding: 2px 5px;
}
.numeroItem,.ItemPrecio{
    font-size: 30px;
    font-family: system-ui;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.spanStock{
    color: #91b2ef;
    cursor: pointer;
    transition: 0.3s;
}
.spanStock:hover{
    color: #48f54f;
    text-shadow: 0 0 4px #48f54f;
}
.spanStock.IconoAS-chevron-up{
    margin-bottom: 2px;
}
.numeroStock, .ItemStock{
    text-align: center;
    color: grey;
    margin-bottom: 10px;
}
.botonCarrito{
    width: 80%;
    margin: 10px auto;
    display: block;
    font-size: 22px;
    background: beige;
    cursor: pointer;
}
.ItemBtn{
    margin: 10px auto;
    padding: 10px 18px;
    background-color: salmon;
    border: 1px solid salmon;
    color: white;
    font-family: system-ui;
    font-size: 12px;
    width: fit-content;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
    font-weight: 800;

}
.ItemBtn:hover{
    color: salmon;
    background-color: white;

}

/*CATEGORIAS*/

.listadoCategorias{
    display: flex;
    flex-direction:row;
    width: 100%;
    background-color: #3e71d1;
    justify-content: center;
}
.btnCategoria{
    background-color: #91b2ef;
    padding: 10px;
    border: 2px solid #3e71d1;
    border-right-width: 1px ;
    border-left-width: 1px ;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    transition: 0.3s;
}
.btnCategoria:hover{
    background-color: transparent;
    color:#91ecef;
    font-weight: 600;
}

#cargandoCategorias{
    display: none;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*ITEM DETALLE*/
.mainItemDetalle{
    display: none;
}
.contenedorItemDetalle{
    display: flex;
    position: relative;
    background-color: rgb(160, 148, 148);
    min-height: calc(100vh - 149px);
}
.ItemDetalleBtnCerrar{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.5s;
    color: rgb(221, 41, 71);
}
.ItemDetalleBtnCerrar:hover{
    color: white;
    text-shadow: 0 0 10px black;
}
.contendorImgItemDetalle{
    margin: 10px;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 6px #697356;
}
.ItemDetalleImg{
    width: 400px;
    height: auto;
    min-height: 100%;
}
.contendorInfoItemDetalle{
    margin-top: 20px;
    padding: 0 20px;
}
.ItemDetalle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #941f1f;
    margin-bottom: 15px;
    font-weight: 600;
}
.ItemDetallePrecio,.ItemDetalleInfo,.ItemDetalleStock{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ItemDetallePrecio, .ItemDetalleStock{
    color: #454661;
    margin-bottom: 10px;
}
.ItemDetalleInfo{
    font-size: 20px;
    color: #a94a40;
    margin-bottom: 15px;
}
.ItemDetalleContenedorBtn{
    display: flex;
    justify-content: center;
}
.ItemBtn--Volver{
    background-color: rgb(221, 41, 71);
    border-color: rgb(221, 41, 71);
    margin: 10px;
}
.ItemBtn--Volver:hover{
    color: rgb(221, 41, 71);
}
.ItemBtn--agregar{
    background-color: seagreen;
    border-color: seagreen;
    margin: 10px;
}
.ItemBtn--agregar:hover{
    color: seagreen;
}